  .container {
    margin: 0 auto;
    padding: 0px 40px 40px 40px;
    width: 400px;
  }
  
  .slick-slider .item{
    transform: scale(1, 1);
    margin-bottom: 5px;
  }

  .slick-slider .text{
    font-size: 8px;
    color: #8EDB9B;
    width: 100%;
    padding: 0px 15px;
  }

  .center .slick-center .item {
      opacity: 1;
      -ms-transform: scale(1.65, 1.7);
      transform: scale(1.65, 1.7);
      margin-bottom: 50px;
  }
  .center .item {
      transition: all .3s ease;
  }

  .center .slick-center .text{
    font-weight: 600;
    color: #5FBA8E;
    -ms-transform: scale(1.75, 1.75);
    transform: scale(1.75, 1.75);
  }

  .center .text{
    transition: all .3s ease;
  }


