  .container {
    margin: 0 auto;
    padding: 0px 40px 40px 40px;
    width: 400px;
  }
  
  .slick-slider .item{
    transform: scale(1.02, 1.2);
    margin-bottom: 10px;
  }

  .slick-slider .text{
    transform: scale(1, 1);
  }

  .center .slick-center .item {
      opacity: 1;
      -ms-transform: scale(1.6, 1.7);
      transform: scale(1.6, 1.95);
      margin-bottom: 50px;
  }
  .center .item {
      transition: all .3s ease;
  }

  .center .slick-center .text{
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    font-weight: 600;
    color: #5FBA8E;
  }

  .center .text{
    transition: all .3s ease;
  }


